@media (min-width: 1441px)
   .container
      #showcase
         height: 90vh
         div.showcase-content
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -40%)
            width: 578px
            z-index: 2
            text-align: center
   section.section#app-download
      div.section-content
         width: 70%
         justify-content: space-around
         div.download-info
            width: 50%
            margin-left: 0
         div.download-slider
            width: 50%
            margin-right: 0
   section.section#contact
      div.section-content
         width: 70%
         justify-content: space-between
         padding-left: 0
         .contact-info
            width: 45%
            margin-right: 0
         .contact-form
            width: 45%
            .form-box
               #first-name, #last-name
                  width: 45%
            .input-placeholder.name#last-name-label
               left: 57%
            input#last-name+p.textError
               left: 56.5%
            .input-field
               padding-left: 4%
            .dropdown
               i.fa-angle-down
                  left: 90%
            .form-submit
               height: 70px
               p.message
                  padding-left: 30px
                  padding-top: 0
                  height: 60px
