@media (max-width: 1404px)
   section.section
      height: 100% !important
      padding-bottom: 60px
      h2.section-title
         width: 80%
      .section-content
         align-items: flex-start
         height: 100%
         width: 80%

   section.section#app-download
      height: 100%
      padding: 8% 10%
      div.section-content
         justify-content: space-around
         align-items: center
         div.download-info
            width: 45%
            margin-left: 0
            h2
               width: 60%
               margin-top: 0
            p
               width: 80%
         div.download-slider
            position: relative
            width: 45%
            min-width: 511px
            margin-right: 0
            div#slider
               position: relative
               top: 0
               left: 0
               transform: translate(0, 0)
               margin: 0 auto
               height: 280px
               label
                  width: 401px
                  height: 280px

@media (max-width: 1224px)
   .container
      #showcase
         nav.navbar
            div.logo
               margin-left: 10%
               h1
                  font-size: 20px
                  line-height: 24px
            ul#desktop-menu
               padding-right: 10%
               li
                  a
                     line-height: 18px
                     font-size: 16px
