@media (max-width: 1080px)
   .container
      #showcase
         height: 90vh
         nav.navbar
            div.logo
               margin-left: 7%
               h1
                  font-size: 20px
                  line-height: 24px
            ul#desktop-menu
               padding-right: 7%
               li
                  a
                     line-height: 19px
                     font-size: 16px
         div.showcase-content
            top: 50%
            transform: translate(-50%, -40%)
