@media (max-width: 1178px)
   section.section#app-download
      div.section-content
         flex-direction: column
         justify-content: center
         align-items: center
         div.download-info
            width: 70%
            min-width: 511px
            margin-bottom: 60px
            h2
               width: 100%
               text-align: center
            p
               width: 100%
               text-align: center
            div
               text-align: center
         div.download-slider
            width: 70%
   section.section#contact
      div.section-content
         width: 60%
         justify-content: center
         align-items: center
         .contact-info
            width: 100%
            height: 45%
            min-height: 190px
            text-align: center
         .contact-form
            width: 100%
            height: 500px
            .form-box
               flex-direction: column
               #first-name, #last-name
                  width: 100%
               #first-name
                  margin-bottom: 25px
            .input-placeholder.name#last-name-label
               position: absolute
               left: 10px
               top: 51%
            p.textError
               top: 42%
            input#last-name+p.textError
               left: 10px
               top: 96%
            input#phone+p.textError
               top: 48%

@media (max-width: 1080px)
   .container
      #showcase
         height: 90vh
         min-height: 900px
         nav.navbar
            div.logo
               margin-left: 7%
               a
                  h1
                     font-size: 20px
                     line-height: 24px
            ul#desktop-menu
               padding-right: 7%
               li
                  a
                     line-height: 19px
                     font-size: 16px
         div.showcase-content
            top: 50%
            transform: translate(-50%, -40%)

@media (max-width: 1024px)
   section.section#contact
      div.section-content
         padding-top: 12%
